<h1 xmlns="http://www.w3.org/1999/html" class="center">Liste de pokémons</h1>

<div>
    <div class="row">
        <input
            #input
            (keydown.enter)="selectPokemon(input.value)"
            type="number"
            class="col s1 offset-s4"
        >

        <p *ngIf="pokemonSelected" class="col s2 offset-s1">Vous avez selectionné le pokémon : {{ pokemonSelected.name }}</p>

        <p *ngIf="!pokemonSelected" class="col s2 offset-s1">Aucun pokémon n'a été selecté !</p>
    </div>
    <div class="row">
        <p *ngFor="let pokemon of pokemonList" class="col s3 offset-s1 row z-depth-4">
            <img src="{{ pokemon.picture}}" alt="" class="col s6">
            <span class="name col s3 offset-s1">{{ pokemon.name}}</span>
            <span class="dateInfo col s4 offset-s2">{{ pokemon.created}}</span>
        </p>
    </div>
</div>
